@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm",  @class = "navbar-right", @style ="float: left !important;"}))
        {
            @Html.AntiForgeryToken()
                <div class="pull-left">
            <ul class="nav navbar-nav navbar-right">

                    <li>
                        @*@Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                        @Html.ActionLink("Witaj " + (ViewData["FullName"]) + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style="color: #444;" })

                    </li>

                <li><a style="color:#333" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
            </ul>
        </div>
    }
}
else
 
{     
                           <div class="pull-left" style="margin-left:50px">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color: #444;" })</li>


                                    <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color: #444;" })</li>
                                </ul>
                            </div>                       


}
                                    @*<div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>*@
