@model Eregister.TeacherSubject

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Czy jesteś pewien, że chcesz to usunąc?</h3>
<div>
    <h4>Nauczyciele i przedmioty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Subject.Name)*@ Przedmiot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Teacher.Title)*@ Nauczyciel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.ApplicationUser.NameSurname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
