@model BlogViewModel
@using Eregister.Controllers
@using Models
@{
    
    ViewBag.Title = "WallPostsGroups";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = BlogController.checkCatList;
    var tags = BlogController.checkTagList;
}

<div class="blogContainer">

    <div><h2>Witaj na stronie swojej grupy :)</h2></div>

   <div class="mainblogview">

        @{Html.RenderPartial("WallPostsGroupsContent", Model.PagedBlogViewModel);}

    </div>
    @*uczen tez bedzie mogl dodawac posty*@
    <div class="mainblogbar">
        @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Student")) 
            {
            <div class="adminBlogCtrl">
                <table>
                    <tr>
                        <td><a href="@Url.Action("AddNewPost","Blog")">Add New Post</a></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("CategoriesAndTags","Blog")">Categories And Tags</a></td>
                    </tr>
                </table>
            </div>
        }
    </div>

    @*komentarze Blog/Index.cshtml*@


    @*tu byl ostatni div*@
</div>
<div class="mainComments">
    @{Html.RenderPartial("WallComments", Model.CommentViewModel);}
</div>