
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>Logowanie</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p>Login</p>

    <p>Hasło</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Zaloguj &raquo;</a></p>
</div>

