<!DOCTYPE html>
<html>
<head>
    <title>Witaj</title>
</head>
<body>
    <p style="font-size:18px;">
        Witaj @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Dziękujemy za rejestrację</a>!
    </p>
    <p style="font-size:18px;">
        Potwierdź rejestrację przechodząc w ten link -> <a href="@ViewBag.Link">link</a>.
    </p>
    <p style="font-size:18px;"><i>Eregister</i></p>
</body>
</html>
